<h1 id='body_content_title'><%=raw @page.title() %></h1>
<section id='body'>
  <%=raw @page.content_for(:body) %>
</section>

<div class='card-holder'>
  <div class='card-wrapper'>
    <a href='#'>
    	<div class='col-md-12 card'>
    		<div class='bg-left bg-01 col-md-1'>
    		</div>
    	 	<div class='bg'>
        		<span class='card-content'>展会信息</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-02 col-md-1'>
        </div>
        <div class='bg'>
        		<span class='card-content'>展品范围</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-03 col-md-1'>
        </div>
        <div class='bg'>
        		<span class='card-content'>生活指南</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-04 col-md-1'>
        </div>
        <div class='bg'>
        		<span class='card-content'>历届回顾</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-05 col-md-1'>
        </div>
        <div class='bg'>
        		<span class='card-content'>展区划分</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-06 col-md-1'>
        </div>
        <div class='bg'>
        		<span class='card-content'>素材下载</span>
      		</div>
   		</div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-07 col-md-1'>
        </div>
        <div class='bg'>
            <span class='card-content'>展会日程</span>
          </div>
      </div>
    </a>
  </div>
  <div class='card-wrapper'>
    <a href='#'>
      <div class='col-md-12 card'>
        <div class='bg-left bg-08 col-md-1'>
        </div>
        <div class='bg'>
            <span class='card-content'>新闻发布会</span>
          </div>
      </div>
    </a>
  </div>
</div>

<% content_for :stylesheets do %>
  <% if @page.background_image.present? %>
  <style type="text/css">
    body {
      background-image: url(<%= @page.background_image.url -%>);
    }
  </style>
  <% end %>
<% end %>