<div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
  <ul id='page_parts'>
    <% fields.each_with_index do |part, part_index| %>
      <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
        <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/#{object}", :default => part.to_s.titleize), "##{part}" %>
      </li>
    <% end %>
  </ul>
  <div id='page_part_editors'>
    <% fields.each do |part| %>
      <div class='page_part' id='<%= part %>'>
        <%= f.text_area part, :rows => 20, :class => 'raptor-preset-element widest' -%>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      window['raptor']('.raptor-preset-element').raptor({
        autoEnable:true,
        plugins:{
          dock:{
            docked:true,
            dockToElement:true,
            persist:false
          },
          cancel:false,
          revisions:false,
          save:false,
          saveJson:false,
          unsavedEditWarning:false,
          placeholder:{
            content: "这里填写内容",
            tag: 'p',
            select: true
          }
        },
        unloadWarning:false,
        maximum: 10000
      });
    });
  </script>
<% end %>
