<%# Add items here to have them appear on your dashboard's right hand side menu %>
<li>
  <a href="/blanks" class="edit_icon">Manage Applies</a>
</li>
<li>
  <a href="/admin/stores" class="edit_icon">Manage Place View</a>
</li>
<li>
  <a href="/products" class="edit_icon">Manage Exhibition No.</a>
</li>
<li>
  <a href="/orders" class="edit_icon">Manage Orders</a>
</li>
