<% if @order.status == 'accepted' %>
  <p> 亲爱的参展商朋友：</p>
  <p> 您的展位预订已经成功通过 </p>
<% else %>
  <p> 亲爱的参展商朋友：</p>
  <p> 您的展位预订已经被拒绝 </p>
<% end %>

<p>如果您需要更多的信息，请您同我们联络，我们希望能够在“2015中国（深圳）国际钟表展览会 ”与您见面。   主办信息: 2015中国（深圳）国际钟表展览会  电话：0755-82945180 传真：0755-82941162  通信地址：深圳市福田保税区市花路福年广场B栋302室 邮箱：davy@ewatch.cn</p>