<%= render 'refinery/admin/search_header', :url => refinery.previous_admin_previous_path %>
<div class='pagination_container'>
  <% if @previous.any? %>
    <%= render 'previous' %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
