<nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom" role="navigation">
  <div class="row footer-menu">
    <div class="logo-share col-md-2">
      <ul class="ico_links">
        <li class="words">了解：</li>
        <li class="i1"><a href="//www.fitime.cn" target="_blank"><img class="jph_logo" src="/assets/jplogo.png"/></a></li>
        <li class="words">关注：</li>
        <li class="i2"><span></span><a href="http://weibo.com/chinawatchfair" target="_blank"></a></li>
        <li class="i3"><a href="javascript:;" class="wei_btn"></a></li>
        <li class="i4"><a href="javascript:;" class="tel_btn"></a></li>
      </ul>
    </div>
    <div class="qrcode">

    </div>
    <div class="tele-share">
      0755-82949106
    </div>

    <div class="menu menu-bottom">
      <ul class="nav nav-pills" role="tablist" id="menu-bottom">
        <li role="presentation" id="menu-home"><a href="/">首页</a></li>
        <li role="presentation" id="menu-news"><a href="/news">综合简介</a></li>
        <li role="presentation" id="menu-partners"><a href="/partners">参展商中心</a></li>
        <li role="presentation" id="menu-audience"><a href="/audience">买家中心</a></li>
        <li role="presentation" id="menu-media"><a href="/media">媒体中心</a></li>
        <li role="presentation" id="menu-event"><a href="/event">文化活动</a></li>
      </ul>
    </div>
  </div>
  <div class="row copy-right">
    <p>
      <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
    </p>
  </div>
</nav>
