<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container allwidth">

  	<div class="col-md-12">
  		<div class="col-md-2">
  			<h1 id='logo'>
	 			<%= link_to Refinery::Core.site_name, refinery.root_path %>
			</h1>
  		</div>
  		<div class="col-md-10">
			<h1 id='web-title'>
				26th 中国深圳国际钟表展 WATCH & CLOCK FAIR.CHINA
			</h1>
		</div>
  	</div>
  </div>
</nav>