<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<img src='<%= asset_path("top.png") %>' />
  <div class="col-md-12 login-regist">
    <div id="menu" class="col-md-1 login-menu">
      <ul>
        <li><a>登录</a></li>
        <li><a>注册会员</a></li>
      </ul>
    </div>
    <div class="col-md-2 input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
      <a class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></a>
      </span>
    </div> 
  </div>
</nav>