<div class="header">
  <img src='<%= asset_path("top.png") %>' />
  <div class="col-md-12 website-body-title">
    <div class="logo-pic">
      <a href="/"><img src='<%= asset_path("logo.png") %>' /></a>
    </div>

    <div class="col-md-9 title-pic">
      <img src='<%= asset_path("26th.png") %>' />
    </div>
  </div>

  <div class="col-md-12 login-regist">
    <div class="menu col-md-1 login-menu">
      <ul>
        <% if refinery_user_signed_in? %>
          <li id="current_user"><%= current_refinery_user %></li>
          <li><a href="/refinery/logout">注销</a></li>
        <% else %>
          <li><a class="top-login-btn">登录</a></li>
          <li><a class="top-sign-btn">注册会员</a></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2 input-group">
      <input type="text" class="form-control" placeholder="参展品牌搜索">
      <span class="input-group-btn">
      <a class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></a>
      </span>
    </div>
  </div>
</div>
