
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require bxslider
 //= require foundation_and_overrides
 *= require_tree .
 *= require raptor-front-end
 */


body {
  background: #DDD;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

a:hover {
  text-decoration: none!important;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  zoom: 1;
}

ul, ol, dl {
  font-size: 1em;
  line-height: 1.6;
  list-style-position: outside;
  font-family: PingHei, 'Lucida Grande', 'Lucida Sans Unicode', STHeiti, Helvetica, Arial, Verdana, sans-serif;
}

#body, #side_body {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding-top: 20px;
}

.menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
  }
}

.header {
  > IMG {
    min-width: 1200px;
    width: 100%;
    height: 127px;
  }
  > div {
    position: absolute;
    top: 34px;
  }
  .website-body-title {
    width: 1200px;
    padding: 0;
    .logo-pic {
      max-width: 100px;
      float: left;
      margin-left: 20px;
    }
    .title-pic {
      margin-left: 120px;
      margin-top: 10px;
      height: 43px;
      width: 955px;
      float: right;
    }
  }
}

.carousel .carousel-inner .item .img-responsive{
  max-width: 100%;
  height: auto;
}

.allwidth {
  width: 100% !important;
}

.card-holder {
  position: fixed;
  // width: 200px;
  overflow: visible;
  z-index: 50;
  top: 115px;
  left: 100%;
  // height: 100px;
  margin-left: -190px;
}

.card-wrapper {
  display: inline-block;
  float: left;
  clear: both;
}

.card {
  position: relative;
  left: 0px;
  width: 200px !important;
  padding: 0px !important;
  margin: 1px;
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
  background: rgb(30,30,30);
  transition: all 0.3s ease-in-out 0.1s;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  div {
    margin: 0;
    height: 60px;
  }
  .bg-left {
    //height: 83px;
  }
}

// .card:hover {
//  position: relative;
//  left: -290px;
//  margin-left: -32px;
//  box-shadow:
//    0 -8px 8px -8px rgba(0, 0, 0, 0.5),
//    0 8px 8px -8px rgba(0, 0, 0, 0.5);
//  transition: all 0.3s ease-in-out;
// }

.card-content {
  display: inline-block;
  display: -moz-inline-block;
  display: -webkit-inline-block;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1.125em;
}

.bg {
  padding: 20px 0;
  text-align: center;
}

.bg-01 { background: rgb(164,55,90); }
.bg-02 { background: rgb(83,13,41); }
.bg-03 { background: rgb(65,102,176); }
.bg-04 { background: rgb(11,31,63)}
.bg-05 { background: rgb(113,144,66); }
.bg-06 { background: rgb(47,64,26); }
.bg-07 { background: rgb(213,70,13); }
.bg-08 { background: rgb(161,53,18); }

.navbar-bottom {
  background-color: rgba(0,0,0,0.7)!important;
  border: 0 !important;
  .row {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-bottom {
    ul{
      display:-moz-inline-box;
      display:-webkit-inline-box;
      display:inline-box;
      li {
        width: 160px;
        min-width: 160px;
        a {
          text-align: center;
          font-size: 14px;
          color: white;
          padding: 11px 15px;
        }
        a:hover {
          background: url(../assets/menu_hover.png) no-repeat top center;
          color: #2f8fda;
        }
      }
      li.active{
        a {
          color: #2f8fda;
          background: url(../assets/menu_hover.png) no-repeat top center;
        }
      }
    }
  }
}

.copy-right {
  background-color: rgb(47,143,218);
  //height: 20px;
}

.login-regist.col-md-12 {
  position: absolute;
  top: 2px;
  width: 100%;
  min-width: 550px;
  .login-menu {
    float: right;
    color: white;
    margin-top: 0;
    width: 150px;
  }
  .input-group[class*="col-"] {
    width: 250px;
    float: right;
    height: 17px;
    .btn {
      height: 17px;
      padding-top: 0px;
      .glyphicon {
        top: 0px;
      }
    }
    input[type="text"] {
      height: 17px;
    }
  }
}

.show_container {
  width: 840px;
  margin-left: 153px;
  margin-top: -20px;
  min-height: 900px;
  background: rgba(255,255,255,0.85);
  .show_body {
    width: 710px;
    display: table;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 200px;
    > h1 {
      color: #2f8fda;
      border-left: 2px #2f8fda solid;
      padding: 65px 0 0 10px;
      height: 25px;
      line-height: 25px;
      font-size: 22px;
      font-weight: normal;
      display: block;
      box-sizing: content-box;
    }
  }
}

#body {
  width: 100%;
  background: transparent;
  display: none;
  .nav-tabs {
    li {
      > a{
        color: white;
        background-color: #959696;
      }
      > a:hover {
        border-color: #2f8fda;
        background-color: #2f8fda;
      }
    }
    li.active > a {
      background-color: #2f8fda;
    }
  }
}

#carousel-banners {
  margin-top: -20px;
  min-width: 1200px;
}

#hotels {
  > div {
    float: right;
  }
  div {
    padding: 0;
  }
  .col-md-12 {
    width: 708px;
    padding-bottom: 20px;
    border-bottom: solid 2px white;
  }
  .col-md-8 {
    float: left;
    width: 447px;
  }
  .col-md-4 {
    float: right;
    width: 223px;
  }
}

.star {
  color: #CD3333;
}

.hotel-item-star {
  float: right;
}

.row-fluid {
  .col-md-12{
    .row.mix-grid {
      .mix {
        margin-bottom: 20px;
      }
    }
  }
}

ul.contact_list {
  overflow: hidden;
  margin-bottom: 30px;
  line-height: 1.5em !important;
  font-size: 12px;
  li {
    float: left;
    list-style-type: none;
  }
  li.photo {
    width: 110px;
    height: 110px;
    position: relative;
    span.txt {
      position: absolute;
      right: 3px;
      bottom: 0;
      line-height: 20px;
      font-size: 14px;
      z-index: 11;
    }
    span.bg {
      background: url(../assets/arrow1.png) no-repeat;
      width: 63px;
      height: 64px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
  li.info {
    height: 110px;
    padding: 5px 15px;
    overflow: hidden;
  }
  li.qr {
    float: right !important;
  }
  img {
    width: 110px;
    height: 110px;
  }
  a {
    color: black;
  }

  a:hover, a:focus {
    color: #428bca;
  }

}

div.margin-bottom {
  clear: both;
  height: 2px;
  line-height: 2px;
  background: white;
  margin-bottom: 20px;
}

#body_content_title a{
  float: right;
}


div.h3-tit {
  background: url(../assets/tit_bg.jpg) repeat-x bottom;
  height: 24px;
  line-height: 24px;
  h3 {
    display: inline-block;
    float: left;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    background: #9a1b23;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
  }
  span.h3-tit-arrow {
    background: url(../assets/tit_arrow.png) no-repeat left top;
    display: inline-block;
    height: 27px;
    width: 27px;
  }
}


ul.downs {
  overflow: hidden;
  margin-top: 20px;
  li {
    overflow: hidden;
    line-height: 41px;
    margin-bottom: 20px;
    span.tit {
      width: 180px;
      color: #a12931;
      display: inline-block;
    }
    a {
      width: 180px !important;
    }
  }
}

.download_btn {
  border-bottom: 1px solid #727171;
  font-size: 14px;
  display: inline-block;
  position: relative;
  span {
    width: 1px;
    height: 27px;
    background: #727171;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  p {
    margin: 0;
  }
  a {
    background: url(../assets/down2.png) no-repeat right -156px;
    display: block;
    padding: 13px 70px 0 30px;
    max-width: 160px;
    text-align: center;
    height: 41px;
    line-height: 16px;
    color: #333;
  }
  a:hover {
    background-position: right 0 !important;
    color: #9a1b23;
  }
}

.footer-menu.row {
  display:-moz-box;
  display:-webkit-box;
  display:box;
  overflow-x: auto;
}

#logo {
  margin-top: 10px;
  display:-moz-inline-box;
  display:-webkit-inline-box;
  display:inline-box;
}
.logo-share.col-md-2 {
  width: 140px;
}


ul.dlist{
  margin-top: 30px;
  li {
    width: 294px;
    a {
      box-sizing: initial;
      background: url(../assets/down1.png) no-repeat 0 -50px;
      width: 174px;
      height: 37px;
      line-height: 18px;
      font-size: 14px;
      color: #595757;
      padding: 15px 60px 0 30px;
      text-align: center;
      display: block;
    }
    a:hover {
      background-position: 0 0 !important;
      color: #cc0000;
    }
  }
  li.left {
    float: left;
  }
  li.right {
    float: right;
  }
}

.carousel .carousel-inner {
  height: inherit;
  .item .img-responsive {
    overflow: hidden;
  }
}

.au_tab {
  overflow: hidden;
  li {
    float: left;
    a {
      background: url(../assets/tab.png) no-repeat;
      display: block;
      width: 100%;
      height: 69px;
    }
    p {
      margin: 40px 30px 40px 0;
    }
  }
  li.i1 {
    width: 346px;
    a:hover {
      background-position: 0 -78px;
    }
  }
  li.i2 {
    width: 375px;
    margin-left: -21px;
    a {
      background-position: -375px 0;
    }
    a:hover {
      background-position: -375px -78px ;
    }
  }
}

.little-title {
  font-size: 18px;
  color: #2f8fda;
  margin-bottom: 20px;
}


.au_icos {
  overflow: hidden;
  li {
    float: left;
    width: 25%;
    a:hover {
      color: #2f8fda;
    }
    a {
      background: url(../assets/icons3.png) no-repeat;
      display: block;
      width: 100%;
      line-height: 20px;
      padding: 27px 0 0 60px;
      height: 47px;
      color: #333;
      font-size: 14px;
    }
  }

  li.i1{
     a {
       background-position: -318px 0;
     }
     a:hover {
       background-position: -318px -47px ;
     }
  }

  li.i2 {
    a {
      background-position: -626px 0;
    }
    a:hover {
      background-position: -626px -47px ;
    }
  }

  li.i3 {
    a {
      background-position: -935px 0;
    }
    a:hover {
      background-position: -935px -47px ;
    }
  }
}

div.margin-1 {
  clear: both;
  height: 30px;
  line-height: 30px;
}

div.margin-2 {
  clear: both;
  height: 20px;
  line-height: 20px;
}

div.margin-4 {
  clear: both;
  height: 2px;
  line-height: 2px;
  border-top: solid 2px white;
  margin-bottom: 20px;
}

.f14 {
  color: #2f8fda;
  font-weight: normal;
  line-height: 2em;
  font-size: 14px;
}

ul.blist {
  overflow: hidden;
  li {
    float: left;
    background: url(../assets/brand_bg.png) no-repeat left top;
    width: 140px;
    height: 81px;
    margin: 0 1px 10px 0;
    padding: 0 5px 0 2px;
    text-align: center;
    div {
      width: 126px;
      height: 75px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-height: 75px;
      max-width: 100px;
      vertical-align: middle;
    }
  }
}


ul.blist1 li {
  float: left;
  background: url(../assets/brand_bg1.png) no-repeat left top;
  width: 215px;
  min-height: 66px;
  margin: 0 35px 10px 0;
  padding: 10px 15px 15px 10px;
  text-align: center;
  div {
    width: 180px;
    height: 66px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.media_list {
  li {
    padding: 0 90px 0 0;
    border-bottom: 1px solid #c6c4c3;
    color: #595757;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  span {
    float: right;
  }
  span.down {
    margin-right: -80px;
    a {
      background: url(../assets/down2.png) no-repeat 0 -156px;
      display: block;
      width: 42px;
      height: 32px;
    }
    a:hover {
      background-position: 0 0;
    }
  }
  h3 {
    font-size: 14px;
    a {
      color: #000;
    }
    a:hover {
      color: #2f8fda;
    }
  }
}

.down-div {
  display: inline-block;
}

.w150 {
  width: 127px;
}

ul.tab-5 {
  overflow: hidden;
  li {
    float: left;
    margin-left: -8px;
    span {
      display: inline-block;
      float: left;
    }
    a {
      display: block;
      height: 27px;
      line-height: 27px;
      color: #fff;
      width: 100%;
      span.arrow-c {
        background: #959696;
        text-align: center;
        font-size: 14px;
        min-width: 80px;
      }
      span.arrow-l,span.arrow-r {
        background: url(../assets/arrow6.png) no-repeat 0 0;
        width: 13px;
      }
      span.arrow-r {
        background-position:-13px 0;
      }
    }
    a:hover {
      span.arrow-l {
        background-position: 0 -27px !important;
      }
      span.arrow-c {
        background: #8d1b23 !important;
      }
      span.arrow-r {
        background-position: -13px -27px !important;
      }
    }
  }
  li.first {
    margin-left: 0 !important;
  }
  li.hover a {
    span.arrow-l {
      background-position: 0 -27px !important;
    }
    span.arrow-c {
      background: #8d1b23 !important;
    }
    span.arrow-r {
      background-position: -13px -27px !important;
    }
  }
}

ul.news-list {
  li {
    border-bottom: solid 1px white;
    margin-top: 15px;
    span {
      float: right;
    }
  }
}

.w345 {
  width: 345px;
}

.align-center {
  text-align: center;
}

.pic_list_item_box {
  .pic_list {
    display: table-cell;
    max-width: 200px;
    width: 200px;
    max-height: 62px;
    height: 62px;
    background: white;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    img {
      max-height: 60px;
      width: auto;
    }
  }
  div.item-title {
    margin-top: 10px;
  }
}
.photo-view {
  width: 700px;
  height: 500px;
  background: #e7e7e7;
  margin: 40px -2px;
  padding: 30px;
  text-align: center;
  img {
    height: auto;
    width: 100%;
  }
}

.countdown_box {
  position: absolute;
  top: 140px;
  left: 100px;
  display: none;
  > span {
    color: white;
    font-size: 24px;
  }
  .countdown {
    font-size: 24px;
    color: white;
    span {

    }
    span.digit {
      font-family: "digit";
      font-size: 42px;
      color: #2f8fda;
    }
  }
}

.previous-item {
  width: 197px;
  height: 282px;
  background: #2f8fda;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.previous-title-item {
  width: 197px;
  height: 282px;
  background: #2f8fda;
  div {
    font-size: 30px;
    margin-left: 33%;
    padding-top: 21%;
    height: 180px;
  }
}


.exhibitorModal.modal {
  // display: inherit;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999990;
  > div {
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
  }

  .modal-dialog {
    width: 100%;
    .modal-content {
      background-color: inherit;
      box-shadow: none;
      border: none;
      .modal-header {
        border-bottom: 0;
        .close {
          background: inherit;
          color: #FFFFFF;
          line-height: 60px;
          position: absolute;
          right: 15px;
          font-size: 48px;
          font-weight: 100;
          text-align: center;
          top: -10px;
          width: 60px;
          z-index: 999999;
          text-decoration: none;
          border: solid 1px white;
          -webkit-border-radius: 60px !important;
          -moz-border-radius: 60px !important;
          border-radius: 60px !important;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
          opacity: 0.5;
          text-shadow: none;
        }
        .close:hover {
          border: solid 1px #2f8fda;
          color: #2f8fda;
        }
      }
      .modal-body {
        height: 480px;
        width: 60%;
        margin: auto;
        color: white;
        font-weight: inherit;
        // background: yellow;
        .ex-body {
          min-width: 804px;
          width: 100%;
          height: 280px;
          // background: red;
          margin: auto;
          .ex-logo {
            background: black;
            width: 200px;
            height: 200px;
            float: left;
            display: flex;
            .ex-logo-title {
              width: 100%;
              margin-top: 80px;
              text-align: center;
              font-size: 26px;
              font-weight: bold;
            }
          }
          .ex-content {
            // background: blue;
            width: 550px;
            height: 200px;
            float: right;
            .ex-title {
              // background: white;
              font-size: 28px;
              float: right;
            }
            .ex-desc {
              margin-top: 62px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}


//注册登录
.login_form {
  background: url(../assets/bg1.png);
  width: 206px;
  position: absolute;
  z-index: 51;
  right: 45px;
  display: none;
  color: #000;
  overflow: hidden;
  dl {
    width: 173px;
    margin: auto;
    dd {
      padding: 5px 0;
      line-height: 20px;
      * {
        vertical-align: middle;
      }
    }
    input {
      border: none;
      color: #777;
    }
    dd.textinput input {
      background: url(../assets/text_bg.jpg) no-repeat;
      width: 163px;
      padding: 0 5px;
      height: 20px;
      line-height: 20px;
      margin: 0;
    }
    dd.form-btn {
      width: 95%;
      text-align: right;
      input {
        color: white;
        background: red;
      }
    }
    dd.f {
      height: 35px;
      input {
        float: left;
      }
      span.checkbox {
        float: left;
        margin: 0 0 0 8px;
      }
      a {
        color: black;
        float: right;
      }
      a:hover {
        color: #2f8fda;
      }
    }
  }
}

.form_1, .form_2 {
  padding: 10px 0 30px 0;
}

.close_btn {
  text-align: center;
  background: url(../assets/bg.png);
  cursor: pointer;
  line-height: 20px !important;
  margin-top: 20px;
  color: #fff;
}
.w164 {
  width: 164px;
}

.form_txt {
  color: #7f7f7f;
  padding-left: 20px;
  width: 416px;
  margin: auto;
}

* input {
  vertical-align: middle;
}

dl.form_bg {
  background: url(../assets/form_bg.png) no-repeat;
  width: 441px;
  height: 633px;
  padding: 125px 50px 0 30px;
  margin: auto;
  overflow: hidden;
  font-size: 12px;
  input, textarea {
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  input:focus {
    outline: solid #2f8fda;
  }
  dd {
    margin-bottom: 0;
    padding: 3px 0;
    color: #7f7f7f;
    span {
      border-left: 2px solid #7f7f7f;
      display: inline-block;
      padding: 0 5px;
      min-width: 72px;
      float: left;
    }
    input.txtinput1 {
      background: url(../assets/text_bg13.jpg) no-repeat;
      width: 196px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    input.txtinput {
      background: url(../assets/text_bg11.jpg) no-repeat;
      width: 123px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    input.txtinput2 {
      background: url(../assets/text_bg14.jpg) no-repeat;
      width: 245px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    select {
      width: auto;
    }
  }
  dd.form-btn {
    text-align: center;
    input {
      margin-left: 10px;
    }
  }
}

dl.form_bg1 {
  background: url(../assets/form_bg.png) no-repeat;
  width: 441px;
  height: 633px;
  padding: 92px 50px 0 30px;
  margin: auto;
  overflow: hidden;
  font-size: 12px;
  input, textarea {
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  input:focus {
    outline: solid #2f8fda;
  }
  dd {
    margin-bottom: 0;
    padding: 3px 0;
    color: #7f7f7f;
    span {
      border-left: 2px solid #7f7f7f;
      display: inline-block;
      padding: 0 5px;
      min-width: 72px;
      float: left;
    }
    input.txtinput1 {
      background: url(../assets/text_bg13.jpg) no-repeat;
      width: 196px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    input.txtinput {
      background: url(../assets/text_bg11.jpg) no-repeat;
      width: 123px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    input.txtinput2 {
      background: url(../assets/text_bg14.jpg) no-repeat;
      width: 245px;
      height: 20px;
      line-height: 20px;
      border: none;
      padding: 0 5px;
    }
    select {
      width: auto;
    }
  }
  dd.form-btn {
    text-align: center;
    input {
      margin-left: 10px;
    }
  }
}
